@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./icons.css');
@import url('./elements.css');
@import url('./content.css');

:root {
    --white: #ffffff;
    --light-gray: #d7d7d7;
    --gray: #5a5a5a;
    --dark-gray: #333333;
    --yellow: #f3aa03;
    --black: #000000;
    --font-gray: #c6c6c6;
    --gray-header: #F0F0F0;
    --montserrat: 'Montserrat', sans-serif;
}

body {
     background-color: var(--light-gray);
     display: flex;
     justify-content: center;
     font-family: var(--montserrat);
     font-size: 16px;
     font-weight: 400;
}

.container {
    width: 210mm;
    height: 297mm;
    background-color: var(--white);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
}

.container .sidebar {
    width: 30%;
    padding: 5em 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark-gray);
    color: var(--white);
    position: relative;
    overflow: hidden;
}

.container .sidebar-horizontal-line {
    width: 100%;
    height: 0px;    
    margin: 2.2em 0;
    border: 1px dashed var(--font-gray);
}

.container .sidebar .sidebar-image {
    width: 140px;
    height: 140px;
    border-radius: 50% 50% 50% 0;
    border: 0.4em solid var(--white);
    z-index: 1;
}

.container .sidebar .sidebar-content {
    text-align: left;
    margin-top: 3em;
}

.container .sidebar .sidebar-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.container .sidebar .sidebar-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-top: 1em;
    position: relative;
}

.container .sidebar .sidebar-list {
    margin-left: 0.3em;
    line-height: 1.5;
}

.container .sidebar .sidebar-list-title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2;
    display: flex;
    align-items: center;
}

.container .sidebar .sidebar-item {
    color: var(--font-gray);
    font-size: 12px;
    font-weight: 500px;
}